git+https://github.com.cnpmjs.org/thu-ml/zhusuan.git
git+https://github.com.cnpmjs.org/haowen-xu/tfsnippet.git@v0.1.2
numpy
six
matplotlib
streamlit
donut
tensorflow
pytest
mock
setuptools
pandas
altair